/* Reset de estilos padrões */

html,
body {
  height: 100%;
  font-family: "Roboto Flex-Regular", Helvetica, Arial, sans-serif;
  background-color: #151513;
  color: #ffffff;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 375px;
  /* Largura para telas menores */
  margin: 0 auto;
  /* Centraliza o container */
  padding: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.logo {
  position: absolute;
  left: 3%;
  top: 50px;
  width: 100px;
  height: auto;
  align-self: flex-start;
  animation: slide-in 1s ease-out;
}

.main-title {
  font-size: 24px;
  text-align: center;
  margin-top: 130px;
  animation: slide-in-right 1s ease-out;
}

.subtitle {
  position: relative;
  top: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 160px;
  opacity: 0.8;
  animation: slide-in-right 1s ease-out;
}

.qr-code-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  margin-top: 20px;
}

.qrcode {
  position: relative;
  bottom: 101px;
  width: 274px;
  height: 274px;
  object-fit: cover;
  margin-bottom: 20px;
  z-index: 2;
  animation: fadeIn 1s ease-in, bounce 2s infinite
}

.generate-button {
  position: absolute;
  width: 90%;
  max-width: 327px;
  height: 48px;
  border: none;
  border-radius: 16px;
  background: radial-gradient(50% 50% at 128% 69%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(193deg,
      rgba(255, 220, 113, 1) 0%,
      rgba(233, 188, 50, 1) 100%);
  color: #151513;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  animation: slide-in 1s ease-out, pulsar 1.5s infinite;
  z-index: 5;
  bottom: 40px;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
}

.developer-credit {
  position: absolute;
  left: 2%;
  top: 95%;
  font-size: 12px;
  color: #7d7d7d;
  animation: slide-up 1s ease-out;
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
  }
  

  .qrcode {
    width: 274px;
    height: 274px;
  }

  .generate-button {
    font-size: 12px;
    height: 44px;
    
  }
  
}

.bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 392px;
  width: 276px;
  height: 491px;
  z-index: 1;
}

.campo-texto-grande {
  position: relative;
  bottom: 101px;
  width: 170%;
  margin-bottom: 110px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 5;
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(400%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes crescer {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}
